<a href="https://colab.research.google.com/github/mvdheram/DataStructures-Algorithms/blob/master/Blind75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BLIND 75


[1] **Math Basic** : https://algo.monster/problems/math-basics \\
[2] **Run-time Cheatsheet** : https://algo.monster/problems/runtime_summary \\
[3] **Tech interview preparation** :https://www.techinterviewhandbook.org/best-practice-questions/ \\
[4] **Problem solving patterns** : https://hackernoon.com/14-patterns-to-ace-any-coding-interview-question-c5bb3357f6ed

# Arrays 
* **What** : *Contigious area of memory consisting of equal size(type) of elements*
* Two types:
  1. *Static* - Fixed length container containing n elements indexable from [0,n-1]
    * **Why?**
      * Storing and accessing sequential data
      * Temp storage 
    * **Speciality** 
      * **Constant time access**
       * How?
        * Arrays are indexable 
    * Syntax :
      * **C** => *arr_type array_name [arraySize]* - `int balance[10]` or ` int balance[] = {1,2,3,4,5,6,7}`
      * **Java** => 
      * **Python**

  2. *Dynamic* - Variable size array which grow and shrink in size (underthehood resized using statis array)



 


---
Algo Prep : https://www.techinterviewhandbook.org/algorithms/array/ \\
Leetcode - **Python** : https://neetcode.io/ \\
Leetcode - **Java** : https://www.youtube.com/watch?v=4oZsPXG9B94&list=PLU_sdQYzUj2keVENTP0a5rdykRSgg9Wp-&index=3 \\
Leetcode - **C** : 

---

## Complexity

**Notes**:

* Constant access because arrays are indexable 
* Insert, delete and append not applicable to static array as its fixed size.
* Insert and Delete in dynamic array can take linear time in the worst case scenario of excceding the size of static array 
* Append operation in dynamic array takes constant time as its negligeble.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Operation' : ['Access', 'Search','Insert','Append','Delete'],'Static Array' :['O(1)','O(n)','N/A','N/A','N/A'],'Dynamic Array': ['O(1)','O(n)','O(n)','O(1)','O(n)']})
df

  Operation Static Array Dynamic Array
0    Access         O(1)          O(1)
1    Search         O(n)          O(n)
2    Insert          N/A          O(n)
3    Append          N/A          O(1)
4    Delete          N/A          O(n)

## Contains Duplicate : https://leetcode.com/problems/contains-duplicate/

```
Input: nums = [1,2,3,1]
Output: true
```

**Idea: Use Hashset**

In [ ]:
class Solution:
    def containsDuplicate(self, nums: List[int]) -> bool:
        hashset = set()

        for n in nums:
            if n in hashset:
                return True
            hashset.add(n)
        return False

''

## Valid Anagram : https://leetcode.com/problems/valid-anagram/

```
Input: s = "anagram", t = "nagaram"
Output: true
```

**Idea: Use the counts and compare two strings**

In [ ]:
from collections import Counter

class Solution:
  def isAnagram(self, s :str, t:str) -> bool:
    
    s1 = Counter(s)
    s2 = Counter(t)

    if s1==s2:
      print(True)
    else:
      print(False)

Optimized approach:

* Using Dictionary

In [8]:
s = "anagram"
t = "nagaram"

if len(s) != len(t):
  print(False)

countS= {}
countT = {}

for i in range(len(s)):
  countS[s[i]] = 1+ countS.get(s[i],0)
  countT[t[i]] = 1+ countT.get(t[i],0)

print(countS == countT)

True

## Two sum :https://leetcode.com/problems/two-sum/submissions/

```
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
```

#### Naive 

Runtime : O(n^2)

In [ ]:
%%timeit

class Solution:
  def twoSum(self, nums, target):
        for i in range(0,len(nums)):
            for j in range(i+1,len(nums)):
                if nums[i]+nums[j] ==  target:
                    return[i,j]

7.88 µs ± 115 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

#### Optimized 

Runtime: O(n)

**Idea : Use hashmap to check values and index and check if the reamining sum(`target - array[i]`) present in hashmap or else add**.
  * Decrease the lookup time(linear)  

Algorithm:
  1. Create a hashmap of values and index out of array (array_value :index).
    * Reduce the number of checks by using  **hashmap*
  2. Calculate the remaining sum.
    * Remaining sum = target - array[i]
  3. Check if the remaining sum in hashmap[values] 
    * If remaining sum is present in hashmap, return the index of current index of array and value in the hashmap

In [ ]:
%%timeit

class Solution:
  def twoSum(self, nums, target):
    prevMap = {}
    for i, n in enumerate(nums):
      diff = target - n
      if diff in prevMap:
        return [prevMap[diff],i]
      prevMap[n] = i

8.91 µs ± 2.13 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## Group Anagrams

```
Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]
```

**Idea : Create a hashmap (count:tuple(anagram)) of 26 letters and append to the map of the counts of individual letters match**
  * E.g.:
    * 1a,....1e,...,1t..0z: (eat,ate,tea)
    * 1a,....,1t,....,1n.. 0z: (tan,nat)
    * 1a,1b,....1t....0z : (bat)
  
  * **Use Ascii values** and subtract from ascii value of a to fit it in 26 array
    * E.g. **To fit 80 - 106 in 0 - 26**:
      * a = 80 (Aciivalue) -> 80-80
      * b = 81 (Aciivalue) -> 81-80
      ..

  * Trick:
    * As tje strings only contain a-z (26 characters), create a 26 array and  


* Ideas :
  * Sorting anagram leads to same string.

In [9]:
# %%timeit

from collections import defaultdict

strs = ["eat","tea","tan","ate","nat","bat"]
ans = defaultdict(list)

for s in strs:
  count = [0] * 26
  for c in s:
    count[ord(c) - ord('a')] += 1
  ans[tuple(count)].append(s)
print(ans)

defaultdict(<class 'list'>, {(1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0): ['eat', 'tea', 'ate'], (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0): ['tan', 'nat'], (1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0): ['bat']})

In [10]:
print(ans.values())

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

## Top K Frequent elements 

```
Input: nums = [1,1,1,2,2,3], k = 2
Output: [1,2]
```

In [43]:
nums = [1,1,1,2,2,3]
k = 2

Approach using Counter and most common(heapq.nlargest)

* **Complexity** : `O(k logn)`
  * k - Heapify k elements 
  * logn - to sort

In [ ]:
from collections import Counter

def topKFrequent(nums,k):
  most_common_elements = [ele for ele, count in Counter(nums).most_common(k)]
  return most_common_elements

Naive approach 

* Sorted algorithm in python : Tim sort 
  * Special variation of  merge sort Merge sort
  * Time complexity : O(nlogn)

In [ ]:
dic = {}

for i in nums:
  if i in dic:
    dic[i] += 1
  else:
    dic[i] = 1

In [ ]:
sortedDict = {k:v for k,v in sorted(dic.items(), key = lambda item : item[1])}

In [ ]:
[sortedDict[i] for i in list(sortedDict)[:k]]

[1, 2]

Optimized approach :

* Use variation of bucket sort 

Algorithm :
  1. Create value count dictionary.
  2. Create count (ascending order) and value arra of length n (number of elements in array).
    * ```
      |0|1|2|3|4|5|6| i(count)
      |0|3|2|1|0|0|0| values
      ```
    * If more than one value occurs n times, add it as an array 
        * E.g.  [2,3] - 3  
  3. Start popping k elements from right

**Complexity**: `O(n)` - Iterating over n elements

In [ ]:
counts = {}

for n in nums:
  counts[n] = 1+ counts.get(n,0)

In [ ]:
counts

{1: 3, 2: 2, 3: 1}

In [ ]:
req = [[] for i in range(len(nums)+1)]

for n, c in counts.items():
  req[c].append(n)

print(req)

[[], [3], [2], [1], [], [], []]

In [ ]:
res = []
for i in range(len(req) -1, 0,-1):
  for n in req[i]:
    print(n)
    res.append(n)
    if len(res) == k:
      print(res)

Priority Queue Implementation

In [57]:
from queue import PriorityQueue
q = PriorityQueue()

In [58]:
counts = {}

for n in nums:
  counts[n] = 1+ counts.get(n,0)

In [59]:
counts

{1: 3, 2: 2, 3: 1}

In [60]:
for k,v in counts.items():
  q.put(v,k)

In [61]:
[q.get() for i in range(1,k)]

[1, 2]

## Product of Array except Self

```
Input: nums = [1,2,3,4]
Output: [24,12,8,6]
```

Naive Approach : 

* Doesn't work for 0,0
* Cartesian product
  * Time complexity : `O(n^2)`

In [177]:
# nums = [1,2,3,4]
# nums = [-1,1,0,-3,3]
nums = [0,4,0]

In [180]:
[*itertools.product(nums,repeat =2)]

[(0, 0), (0, 4), (0, 0), (4, 0), (4, 4), (4, 0), (0, 0), (0, 4), (0, 0)]

In [ ]:
counts = {}
import itertools

for n1,n2 in [*itertools.product(nums,repeat =2)]:
  if len(nums) ==2 and nums[0] == nums[1]:
    print([n1,n2])
    break
  elif n1 != n2:
    print(n1,n2)
    counts[n1] = n2 * counts.get(n1,1)

In [182]:
counts

{0: 16, 4: 0}

In [179]:
print(counts.values())

dict_values([16, 0])

Optimized approach

Product array :
  * Product of each consecutive elements except itself.

Algorithm:

1. Take postfix and prefix array 
  * Postfix : Product array elements from the current position
  * Prefix : Product array elements before the current position 
2. Multiply the postfix and prefix elements and store it in the current position of result array.

Complexity : O(n) - No extra space needed

In [183]:
res = [1] * (len(nums))

In [191]:
prefix = 1
for i in range(len(nums)):
  res[i] = prefix
  prefix *= nums[i]

postfix = 1
for i in range(len(nums)-1,-1,-1):
  res[i] *= postfix
  postfix *= nums[i]

print(res)

[0, 0, 0]

## Encode decode

Encode and decode string without storing the state variable 
  * String can contain any character 
  * Should not store the intermediate variable 

* E.g.:
  * Encode = ['PyCharm','is','good']
  * Decode = ['PyCharm','is','good']
    * Possible encoding = ['7#PyCharm2#is4#good']

In [209]:
def encode(words):
  res = ""
  for word in words:
    res += len(str(word))+"#"+word

def decode(words):
  decode, i = [],0
  while i <= len(words):
    i = j
    while words[j] != "#":
      j = j+1
      length = int(words[i:j])

      decode.append(words[j+1 : j+1+length])
      i = j+1+length

## Longest Consecutive Sequence

```
Input: nums = [100,4,200,1,3,2]
Output: 4
Explanation: The longest consecutive elements sequence is [1, 2, 3, 4]. Therefore its length is 4.
```

Solution:

* For each number, check if its the start of the sequence.
  * If it doesnot have a left neighbor (n-1) then its a start of a sequence.
* For all n+1 elements from the start sequene in the set, add it to a list.


**Catch**:
  * Create a `set` 
  * Check for the start sequence  
  * Check if n+1 exists using the `in` operator.

In [1]:
nums = [101,102,103,7,4,9]

In [2]:
numSet = set(nums)
longest = 0

for n in numSet:
  if n-1 not in numSet:
    length = 1
    while (n+ length) in numSet:
      length += 1
    longest = max(length,longest)

print(longest)

3

# Key code snippets and findings

## Value count dictionary



```
nums = [1,2,2,7]
counts = {}

for n in nums:
  counts[n] = 1+ counts.get(n,0)
```

## Use `set` when for membership check and to avoid duplicates.

Duplicates:

```
for n in nums:
  if n in hashset:
    return True
  hashset.add(n)
return false
```

Membership

In [3]:
%timeit 'a' in ['a','b','c'] # List

34 ns ± 0.719 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [4]:
%timeit 'a' in ('a','b','c') # Tuple

35.9 ns ± 6.04 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [6]:
%timeit 'a' in {'a','b','c'} # Set

36.7 ns ± 0.451 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)